[[language]]
name = "python"
language-servers = ["ruff", { name = "ty", except-features = ["diagnostics"] }]
formatter = { command = "sh", args = [
  "-c",
  "ruff check --fix-only - | ruff format -",
] }
auto-format = true

[language-server.ty]
command = "ty"
args = ["server"]

[language-server.ty.config]
experimental = { rename = true, autoImport = true }

[[language]]
name = "typescript"
roots = ["deno.json", "deno.jsonc"]
file-types = ["ts"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "tsx"
roots = ["deno.json", "deno.jsonc"]
file-types = ["tsx"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "javascript"
roots = ["deno.json", "deno.jsonc"]
file-types = ["js"]
auto-format = true
language-servers = ["deno-lsp"]

[[language]]
name = "javascript"
roots = ["deno.json", "deno.jsonc"]
file-types = ["jsx"]
auto-format = true
language-servers = ["deno-lsp"]

[language-server.deno-lsp]
command = "deno"
args = ["lsp"]
environment = { NO_COLOR = "1" }

[language-server.tailwindcss-ls]
command = "tailwindcss-language-server"
args = ["--stdio"]

[language-server.emmet-ls]
command = "emmet-ls"
args = ["--stdio"]

[[language]]
name = "html"
language-servers = ["vscode-html-language-server", "tailwindcss-ls", "emmet-ls"]
formatter = { command = "prettierd", args = [".html"] }
auto-format = true

[[language]]
name = "css"
language-servers = ["vscode-css-language-server"]
formatter = { command = "prettierd", args = [".css"] }
auto-format = true

[[language]]
name = "toml"
formatter = { command = "taplo", args = ["fmt", "-"] }
auto-format = true

[[language]]
name = "todotxt"
file-types = [{ glob = "todo.txt" }, "todotxt"]
auto-format = false

[[language]]
name = "sql"
formatter = { command = "sql-formatter" }
auto-format = true

[[language]]
name = "bash"
formatter = { command = "shfmt", args = ["-i", "4"] }
auto-format = true
